.header{
    height: fit-content;
    width: max-content;
    margin: 0 auto;
}

.box{
    width: 500px;
    margin: 0 auto;
    padding: 1.1rem;
    border-radius: .7rem;
}

.box-title {
    margin-top: 0;
    margin-bottom: .5rem;
}

.shape {
    position: absolute;
    width: 130px;
    top: .0rem;
    left: .5rem;
}

input{
    padding: 8px;
    outline: none;
    border-radius: 1rem;
    background-color: rgb(243, 243, 252);
}

input:hover{
    background-color: rgb(231, 231, 253);
    outline: none;
}

label{
    display:block;
    padding: 3px 6px;
    text-align: center;
    width: 100px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
}

.but{
    cursor: pointer;
    transition-duration: 0.5s;
    padding: 10px 20px;
    text-align: center;
    background-color:lightblue;
    color:darkcyan;
    border: 1px solid gray;
    border-radius: 1rem;
    text-decoration: none;

}
.but:hover{
    color: white;
    background-color:darkturquoise;
}